
.header {
    position: fixed;
    top: 0;
    background-color: whitesmoke;
    width: 100%;
    height: 75px;
    box-shadow: 0px 0px 20px 0px rgb(26, 113, 178);
}

.header img {
    height: 100%;
}

.loginBlock {
    float: right;
    margin-right: 20px;
}
