.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1900px;
  grid-template-areas:
    'header header'
    'nav content';
  grid-template-rows: 120px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: header;
  background-color: #736372;
}

.header img {
  height: 100%;
}

.nav {
  grid-area: nav;
  background-color: #7A918D;
}

.content {
  grid-area: content;
  background-color: #DCEED1;
}